/* Ralewway font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');


/* CSS reset  */
html, body {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}


/**** flexbox ****/
.dflex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}


/**** Generals ****/
.container {
    width: 93%;
    margin: auto;
}


/***** header *****/
nav {
    position: fixed;
    top: 0 ;
    width: 93%;
    background-color: white;
}

nav > li, header ul {
    list-style-type: none;
}

nav > li a {
    display: block;
    line-height:65px;
}

nav img {
    padding-top: 28%;
}

.mobile {
    display: none;
}

.desktop {
    height: 100px;
    width: 32%;
    margin: 0;
    padding: 0;
}

.desktop > li {
    height: 100px;
    width: 33%;
}

.desktop > li:first-child {
    margin-right: 6%;
}

.desktop > li a {
    display: block;
    width: 100%;
    line-height:100px;
    text-decoration: none;
    text-align: center;
    color: black;
    border-top: solid 3px transparent;
    transition: border-top 200ms ease;
}

.desktop > li a:hover {
    border-top: solid 3px #0065FC;
}

#signUp {
    color:#0065FC;
    font-weight: bold;
}

header h1 {
    margin-top: 140px;
}

.searchBar {
    width: 420px;
    height: 50px;
    margin: 20px 0;
}

.googleMaps {
    width: 12%;
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 30% 0 0 30%;
}

.searchInput { 
    width: 56%;
    border: 2px solid #F2F2F2;
}

#searchCity, .buttonDiv button {
    font-size: 16px;
}

.buttonDiv {
    width: 32%;
}

.searchInput input, .buttonDiv button {
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.searchInput input {
    padding-left: 10px;
    position: relative;
}

.searchInput input::placeholder {
    color: black;
}

.searchInput input:focus-visible {
    /* outline: #0065FC solid 2px; */
    outline: linear-gradient(to right, red, purple);
}

.searchInput input::-webkit-search-cancel-button {
    position: relative;
    right: 2%;
}

button {
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    transition: opacity 150ms ease-in-out;
}

button:hover {
    opacity: 0.8;
}

.filters {
    flex-wrap: wrap;
    height: 50px;
    font-weight: bold;
    margin: 30px 0;
}

.filters > p {
    margin-right: 2%;
}

.filter {
    display: flex;
    height: 50px;
    border-radius: 30px;
    position: relative;
    margin-right: 2%;
}

.filter div:first-child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 30px;
    position:absolute;
}

.filter i {
    color: #0065FC;
}

.filter div:last-child {
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    display:flex;
    align-items: center;
    transition: all 200ms ease-in-out;
    transition-property: background-color, color;
}

.filter div:last-child:hover {
    background-color: #0065FC;
    color: white;
}

.filter p {
    padding: 0 10px 0 60px;
    margin: 0;
}


/**** Header Media queries ****/
@media only screen and (max-width: 767.98px) {

    nav > li a {
        line-height: 41px;
    }

    nav img {
        padding-top: 20%;
    }

    .desktop {
        height: 80px;
    }
    
    .desktop > li {
        width: 70%;
    }

    .mobile > li a {
        line-height:62px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    nav > li a {
        line-height: 35px;
    }

    .desktop {
        height: 85px;
    }

    .desktop > li a {
        line-height: 85px;
    }
    
    
    .mobile > li a {
        line-height:66px;
    }
        

}

@media only screen and (max-width: 991.98px) {
    
    nav {
        flex-wrap: wrap;
    }
    
    .desktop {
        justify-content: flex-end;
    }

    .desktop li:first-child, .desktop li:nth-child(2) {
        display: none;
    }

    .desktop > li a {
        border: none;
    }

    .desktop > li a:hover {
        border: none;
    }

    .mobile {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .mobile li {
        width: 50%;
    }

    .mobile > li a {
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        color: black;
        border-bottom: solid 3px #F2F2F2;
        transition: border-bottom 200ms ease;
    }

    .mobile > li a:hover {
        border-bottom: solid 3px #0065FC;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .desktop {
        width: 40%;
    }
}

main section {
    height: 500px;
    padding-top: 140px;
}
