/** 
CSS FILE STRUCTURE

31  Font import
36  CSS reset
48  Generals 
70  Layout 
101 Header
      └── Nav
175   └── Form
318 Main
      └── Section hebergements
357       ├── Div accomodations
433       ├── Aside popular
460   └── Section activities
540 Footer
570 Media queries
      └── Cell phones
572       ├── min-width: 320px and max-width: 479.98px
590       ├── min-width: 480px and max-width: 687.98px
608       ├── max-width: 687.98px
      └── Tablets 
727       ├── min-width: 688px and max-width: 991.98px  
770       ├── max-width: 991.98px
      └── Desktop
873       ├── min-width: 992px and max-width: 1312px

*/

/*-------------------------------------------*\
    Import font (Raleway)
\*-------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/*-------------------------------------------*\
    CSS reset
\*-------------------------------------------*/
html,
body {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

/*-------------------------------------------*\
    Generals 
\*-------------------------------------------*/
 .container {
    width: 93%;
    margin: auto;
}

h3 {
    font-size: 0.9rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/*-------------------------------------------*\
    Layout 
\*-------------------------------------------*/
.dflex {
    display: flex;
}

.flex-clm {
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-sa {
    justify-content: space-around;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

/*-------------------------------------------*\  
    Header -> Nav
\*-------------------------------------------*/
nav {
    box-sizing: border-box;
    padding: 0 3%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav > li a {
    display: block;
    line-height:65px;
}

nav img {
    padding-top: 33%;
}

/* desktop menu: won't appear on smallest devices except for the sign-up link */
.desktop {
    height: 100px;
    width: 32%;
    margin: 0;
    padding: 0;
}

.desktop > li {
    height: 100px;
    width: 33%;
}

.desktop > li:first-child {
    margin-right: 6%;
}

.desktop > li a {
    display: block;
    width: 100%;
    line-height:100px;
    text-align: center;
    color: black;
    border-top: solid 3px transparent;
    transition: border-top 200ms ease;
}

.desktop > li a:not(#sign-up):hover {
    border-top: solid 3px #0065FC;
}

#sign-up {
    color:#0065FC;
    font-weight: bold;
}

/* mobile menu: appears only on smallest devices (tablets and smaller) */
.mobile {
    display: none;
}

header h1 {
    margin: 115px 0 16px 0;
    font-size: 1.3rem;
}

/*-----------------------*\
    Form
\*-----------------------*/
.searchbar {
    width: 420px;
    height: 50px;
    margin: 20px 0;
}

/* div with the geolocation icon  */
.googlemaps {
    width: 12%;
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 15px 0 0 15px;
}

.search-input { 
    width: 56%;
    border: 2px solid #F2F2F2;
}

#search-city,
.button-div button {
    font-size: 1rem;
}

.button-div {
    width: 32%;
}

.search-input input,
.button-div button {
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.search-input input {
    padding-left: 10px;
}

.search-input input::placeholder {
    color: black;
}

.search-input input:focus {
    position: relative;
    right: 2%;
    outline: none;
}

button {
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    transition: opacity 150ms ease-in-out;
}

button:hover {
    opacity: 0.8;
}

/* button with the search icon on mobiles*/
#button-mobile {
    display: none;
}

.filters {
    flex-wrap: wrap;
    font-weight: bold;
    margin: 30px 0;
}

.filters > p {
    margin-right: 2%;
}

.filter {
    display: flex;
    height: 50px;
    border-radius: 30px;
    position: relative;
    margin-right: 3%;

}

/* div containing the filter icons */
.filter div:first-child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 30px;
    position:absolute;
}

.filter i {
    color: #0065FC;
}

/* div containing the filter text */
.filter div:last-child {
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    display:flex;
    align-items: center;
    transition: all 200ms ease-in-out;
    transition-property: background-color, color;
}

.filter div:last-child:hover {
    background-color: #0065FC;
    color: white;
}

.filter p {
    padding: 0 10px 0 60px;
    margin: 0;
}

#info {
    width: 16px;
    height: 16px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    color: #0065FC;
    margin-right: 1%;
}

#info i {
    font-size: 0.6rem;
}

#info + p {
    margin: 0 0 35px 0;
    vertical-align: baseline;
}

/*-------------------------------------------*\
    Main -> hebergements
\*-------------------------------------------*/
main {
    width: 93%;
    margin: auto;
}

main h2 {
    margin: 0;
}

.accomodations,
.popular {
    padding: 45px 30px 0 30px;
    background-color:#F2F2F2;
    border-radius: 20px;
}

.cards-accomodation,
.cards-popular {
    margin-top: 25px;
}

/* all the cards in hebergements section (accomodation + popular) */
#hebergements a:not(#displaymore) {
    color: black;
    background-color: white;
    margin-bottom: 30px;
    border: 5px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 20%);
    transition: box-shadow 150ms ease-in-out;
}

#hebergements a:not(#displaymore):hover {
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
}

/*-----------------------*\
    Accomodation div
\*-----------------------*/
.accomodations {
    width: 59%;
}

.cards-accomodation {
    flex-wrap: wrap;
    justify-content: space-between;
}

/* represents one card */
.cards-accomodation a {
    width: 29%;
}

.thumbnail-accomodation {
    height: 115px;
    border-radius: 20px 20px 0 0;
}

.thumbnail {
    background-size: cover;
    background-position: center;
}

.card-details {
    padding: 3% 0 0 5%;
}

#hebergements h3 {
    margin: 5px 0 5px 0;
}

.card-details p {
    margin: 5px 0;
    font-size: 0.8rem;
}

.stars {
    margin: 5px 0 0 0;
    font-size: 0.7rem;
    color: #0065FC;
}

/* background images of accomodation div */
#auberge-cannebiere {
    background-image:url('src/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

#hotel-port {
    background-image:url('src/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}

#hotel-mouettes {
    background-image:url('src/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}

#hotel-mer{
    background-image:url('src/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

#auberge-panier {
    background-image:url('src/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}

#hotel-amina {
    background-image:url('src/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

/* uncolored stars */
.card-details span {
    color: #d3d3d3;
}

/*-----------------------*\
    Aside Popular div
\*-----------------------*/
.popular {
    width: 28%;
    padding-top: 45px;
}

.thumbnail-popular {
    min-width: 38%;
    height: 135px;
    border-radius: 20px 0 0 20px;
}

/* thumbnail background images */
#hotel-soleil {
    background-image:url('src/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}

#coeur-eau {
    background-image:url('src/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

#tout-bleu {
    background-image:url('src/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

/*-----------------------*\
    Main -> activities
\*-----------------------*/
#activities {
    padding: 45px 0;
}

#activities > div {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

/* all the cards in activities section */
#activities a {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 20%);
    transition: box-shadow 150ms ease-in-out;
}

#activities a:hover{
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
}

/* groups two small columns */
.cols {
    width: 48%;
}

.col {
    width: 46%;
}

/* left col inside cols */
.col-left {
    height: 100%;
}

#activities .thumbnail {
    border-radius: 20px 20px 0 0;
}

#activities h3 {
    padding-left: 5%;
}

/* thumbnail background images*/
#vieux-port {
    height: 390px;
    background-image:url('src/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}

#fort-pomegues {
   height: 180px;
   background-image:url('src/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}

#ile-frioul {
    height: 115px;
    background-image:url('src/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
}

#parc-calanques {
    height: 390px;
    filter: brightness(1.4);
    background-image:url('src/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}

#dame-garde {
    height: 142px;
    background-image:url('src/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}

#parc-longchamp {
    height: 153px;
    background-image:url('src/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}

/*-------------------------------------------*\
    Footer
\*-------------------------------------------*/
footer {
    background-color: #F2F2F2;
    padding: 45px 0;
}

/* three cols of footer */
.footer-col {
    width: 33.3%;
}

footer h2 {
    font-size: 1.2rem;
}

footer li {
    font-size: 0.9rem;
    padding-bottom: 10px;
}

footer li:hover {
    text-decoration: underline;
}

#confidentiality {
    padding-bottom: 0;
}

/*-------------------------------------------*\
    Media queries
\*-------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 479.98px) {

    /* accomodations */
    .thumbnail-accomodation {
        height: 130px;
    }

    /* activities */
    #vieux-port,
    #fort-pomegues,
    #ile-frioul,
    #parc-calanques,
    #dame-garde,
    #parc-longchamp {
        height: 170px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 687.98px) {

    /* accomodations */
    .thumbnail-accomodation {
        height: 180px;
    }

    /* activities */
    #vieux-port,
    #fort-pomegues,
    #ile-frioul,
    #parc-calanques,
    #dame-garde,
    #parc-longchamp {
        height: 225px;
    }
}

@media only screen and (max-width: 687.98px) {

    /* codes for valid rules for all mobiles */

    /* header */
    nav {
        padding: 0;
    }

    nav ul {
        height: 60px;
        padding-left: 3%;
    }

    nav > li a {
        line-height: 41px;
    }

    nav img {
        padding: 10% 0 0 8%;
    }

    .desktop {
        height: 60px;
        padding-right: 3%;
    }
    
    .desktop > li {
        width: 70%;
    }

    .desktop > li a {
        text-align: right;
    }

    .mobile > li a {
        line-height: 60px;
    }

    header h1 {
        margin-top: 160px;
    }

    .googlemaps {
        width: 50px;
    }
    
    .search-input {
        width: 73%;
    }

    .button-div {
        width: 50px;
    }

    #search-city,
    .button-div button {
        font-size: 1rem;
    }

    #desktopButton {
        display: none;
    }

    #button-mobile {
        display: block;
    }

    /* main -> hebergements */
    #hebergements a {
        width: 100%;
    }

    #hebergements h3 {
        font-size: 0.9rem;
    }

    .thumbnail-accomodation {
        background-position-y: 65%;
    }
    
    .card-details,
    #activities h3 {
        padding: 1% 1% 1% 5%;
    }

    /* main -> activities */
    .cols {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .col {
        width: 100%;
    }

    .col-left {
        height: auto;
    }

    #activities a {
        margin-bottom: 30px;
    }

    .cols .thumbnail {
        height: 135px;
    }

    /* Footer */
    footer .container {
        flex-wrap: wrap;
    }

    .footer-col {
        width: 100%;
    }
}

@media only screen and (min-width: 688px) and (max-width: 991.98px) {

    /* header */
    nav > li a {
        line-height: 35px;
    }

    .desktop {
        height: 85px;
    }

    .desktop > li a {
        line-height: 85px;
    }
    
    .mobile > li a {
        line-height:66px;
    }

    header h1 {
        margin-top: 194px;
    }

    /* main -> hebergements */
    .card-details p  {
        font-size: 0.7rem;
    }

    .popular:first-child {
        padding: 0 1%;
    }

    .popular a {
        width: 30%;
    }

    /* main -> activities */
    .cols {
        width: 100%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 991.98px) {

    /* header */
    nav {
        flex-wrap: wrap;
    }
    
    .desktop {
        justify-content: flex-end;
    }

    .desktop li:first-child,
    .desktop li:nth-child(2) {
        display: none;
    }

    .desktop > li a {
        border: none;
    }

    .desktop > li a:hover {
        border: none;
    }

    .mobile {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .mobile li {
        width: 50%;
    }

    .mobile > li a {
        display: block;
        width: 100%;
        text-align: center;
        color: black;
        border-bottom: solid 3px #F2F2F2;
        transition: border-bottom 200ms ease;
    }

    .mobile > li a:hover {
        border-bottom: solid 3px #0065FC;
    }

    .searchbar {
        width: 100%;
    }

    .filters > p {
        width: 100%;
    }

    .filter {
        margin: 0 2% 2% 0;
    }

    /* main -> hebergements */
    main {
        width: 100%;
    }

    /* places the popular div above the accommodation one */
    #hebergements {
        flex-direction: column-reverse;
    }

    .accomodations,
    .popular {
        box-sizing: border-box;
        padding: 45px 5%;
        border-radius: 0;
    }

    .accomodations {
        width: 100%;
        background-color: white;
    }

    .popular {
        width: 100%;
    }

    .cards-popular {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* main -> activities */
    #activities {
        padding: 45px 5%;
    }

    /* footer */
    footer li {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1312px) {

    /* header */
    .desktop {
        width: 40%;
    }

    /* main -> hebergements */
    .accomodations {
        width: 59%;
    }

    .popular {
        width: 26%;
    }

    .thumbnail-accomodation {
        height: 90px;
    }
    
    #hebergements h3,
    #activities h3 {
        font-size: 0.75rem;
    }

    .card-details p {
        font-size: 0.75rem;
    }

}

