/* Ralewway font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');


/* CSS reset  */
html, body {
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
}


/**** flexbox ****/
.dflex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-se {
    justify-content: space-evenly;
}

.ai-c {
    align-items: center;
}


/**** Generals ****/
.container {
    width: 93%;
    margin: auto;
}


/***** header *****/
nav {
    position: fixed;
    top: 0 ;
    width: 93%;
    background-color: white;
}

nav > li, header ul {
    list-style-type: none;
}

nav > li a {
    display: block;
    line-height:100px;
}

nav img {
    padding-top: 28%;
}

header ul {
    height: 100px;
    width: 32%;
    margin: 0;
    padding: 0;
}

header ul > li {
    height: 100px;
    width: 33%;
    display: flex;
    align-items: center;
}

header ul > li:first-child {
    margin-right: 6%;
}

header ul > li a {
    display: block;
    width: 100%;
    line-height:100px;
    text-decoration: none;
    text-align: center;
    color: black;
    border-top: solid 3px transparent;
    transition: border-top 200ms ease;
}

header ul > li a:hover, .active {
    border-top: solid 3px #0065FC;
}

#signUp {
    color:#0065FC;
    font-weight: bold;
}

header h1 {
    margin-top: 140px;
}

/* main section {
    height: 500px;
} */


/**** Header-Media queries ****/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    header ul {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    header ul {
        width: 40%;
    }
}